.message {
  position: fixed;
  top: 20px;
  right: -320px; /* Start off-screen */
  width: 300px;
  padding: 2px;
  border-radius: 4px;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 1000;
  
}

.message.show {
  right: 0px; 
  opacity: 1; 
}

.message.leaving {
  right: -320px;
  opacity: 0;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border-left: 6px solid #28a745;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border-left: 6px solid #dc3545;
}

.message.info {
  background-color: #ceeff4; 
  color: rgb(49, 91, 126);
}